---
import Layout from "../layouts/Layout.astro";
import config from "../data/config";
import { getFeaturedProjects } from "../data/projects";
import { getFeaturedPosts } from "../utils/data";
import ProjectCard from "../components/ProjectCard";
import BlogCard from "../components/BlogCard";

const featuredProjects = getFeaturedProjects();
const featuredPosts = await getFeaturedPosts(3);

---

<Layout title={`${config.name}'s Portfolio`} description="">
  <main class="container mx-auto px-4 pt-32 pb-12">
    <div class="max-w-6xl mx-auto mb-16">
      <div class="flex flex-col md:flex-row gap-8 items-start">
        <div class="flex-1">
          <h1 class="text-5xl font-bold mb-4 text-base-content uppercase">
            {config.name}
          </h1>
          <p class="text-2xl text-accent mb-6 font-semibold">{config.role}</p>
          <p class="text-base-content/80 leading-relaxed mb-6 text-lg">
            {config.bio}
          </p>
          <div class="flex gap-2">
            <span class="px-3 py-1 bg-primary/10 border border-primary/50 text-primary text-sm font-semibold rounded-full backdrop-blur-sm">{config.location}</span>
          </div>
        </div>
        
        <div class="border border-base-content/20 rounded-lg p-6 bg-base-200/50 md:w-80 flex-shrink-0 h-full">
          <h3 class="text-xl font-bold text-base-content uppercase tracking-wide mb-2">Quick Stats</h3>
          <div class="border-t-2 border-base-content/10"></div>
          <div class="flex flex-col justify-between h-[calc(100%-4rem)]">
            {
              Object.keys(config.stats).length > 0 && Object.values(config.stats).map((stat, index, arr) => (
                <div class={`py-6 flex items-start gap-2 ${index < arr.length - 1 ? "border-b border-base-content/20" : ""}`}>
              <div class="text-4xl flex-shrink-0 font-bold text-primary line-height/1">│</div>
                  <div class="flex-1">
                    <div class="text-3xl font-bold text-primary mb-2 uppercase tracking-tight">{stat.value}</div>
                    <div class="text-base text-base-content/70 font-medium">{stat.description}</div>
                  </div>
                </div>
              ))
            }
          </div>
        </div>
      </div>
    </div>

    {featuredProjects.length > 0 && (
      <section class="mb-16">
        <h2 class="text-3xl font-bold mb-6 uppercase text-secondary">
          Featured Projects
        </h2>
        <ProjectCard client:load projects={featuredProjects} />
      </section>
    )}

    {featuredPosts.length > 0 && (
      <section>
        <h2 class="text-3xl font-bold mb-6 uppercase text-accent">
          Recent Posts
        </h2>
        <BlogCard client:load posts={featuredPosts} />
      </section>
    )}
  </main>
</Layout>
